MARIADB_HOST="localhost"
MARIADB_PORT="3306"
MARIADB_USER="database_user"
MARIADB_PASSWORD="database_password"
MARIADB_DATABASE="database_name"
MARIADB_CONNECTION_LIMIT="5"
AUTH_SECRET="ganti_dengan_random_secret_panjang_minimal_32_karakter"
