MARIADB_HOST="localhost"
MARIADB_PORT="3306"
MARIADB_USER="database_user"
MARIADB_PASSWORD="database_password"
MARIADB_DATABASE="database_name"
MARIADB_CONNECTION_LIMIT="1"
MARIADB_CONNECT_TIMEOUT="10000"
MARIADB_ACQUIRE_TIMEOUT="10000"
MARIADB_IDLE_TIMEOUT="30"
AUTH_SECRET="ganti_dengan_random_secret_panjang_minimal_32_karakter"
